{% extends "header.html" %}

{% block content %}
    <div class="posts-page">
        <div class="post-box">
            <div class="current-avatar fleft">
                {% if group_post.author.profile.image %}
                    <img src="{{ group_post.author.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                {% else %}
                    <img src="/static/images/img_avatar.png" width="128" alt="Avatar" class="post-profile_avatar">
                {% endif %}
                <div class="post-user-information">
                    <div class="post-name"><p>{{ group_post.author.first_name }} {{ post.author.last_name }}</p></div>
                    <div class="post-followers"><p>{{ group_post.author.followers.count }} follower{{ post.author.followers.count|pluralize }}</p></div>
                    <div class="post-followers"><p>{{ group_post.likes.count }} like{{ post.likes.count|pluralize }}</p></div>
                    {% if post.status == 'posted' %}
                        <div class="post-date"><p>Posted {{ group_post.created }}</p></div>
                    {% endif %}
                </div>
            </div>
            <div class="post-buttons fright">
                {% if post.author == user %}
                    <form action="{% url 'update_group_post' group_pk=group.pk post_pk=post.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="post-edit bhoverlink" type="submit" value="edit"><i class="fas fa-edit"></i> Edit</button>
                    </form>
                    <form action="{% url 'delete_group_post' group_pk=group.pk pk=post.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="post-delete bhoverlink" type="submit" value="remove"><i class="fas fa-trash-alt"></i> Delete</button>
                    </form>
                {% else %}
                    <button class="post-like bhoverlink">

                            {% if post in user.group_post_likes.all %}
                                <i class="fas fa-thumbs-down"></i> Unlike
                            {% else %}
                                <i class="fas fa-thumbs-up"></i> Like
                            {% endif %}
                        </a>
                    </button>
                {% endif %}
            </div>
            <div style="clear:both;">

            <div class="post-body">
                {{ group_post.body|safe }}
            </div>

            {% if group_post.image %}
                <div class="post-image-space"><img src="{{ group_post.image.url }}" width="256" alt="Avatar" class="post-image"></div>
            {% endif %}

            </div>
        </div>

        <div class="single-post-box-show">
            <div class="single-post-box-coment1">
                <form method="POST">
                    {% csrf_token %}

                     {% for field in form %}
                        <div class="rich-text">
                            {{ field }}
                        </div>
                    {% endfor %}

                    <div class="comment_button">
                        <button id="coment-a-post" type="submit">Comment</button>
                    </div>

                </form>
            </div>
            {% for comment in comments %}
                    <div class="post-box-comments">
                        <div class="current-avatar">
                            {% if comment.author.profile.image %}
                                <img src="{{ comment.author.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                            {% else %}
                                <img src="/static/images/img_avatar.png" width="128" alt="Avatar" class="post-profile_avatar">
                            {% endif %}
                            <div class="post-user-information">
                                <div class="post-name" style="font-size: 13px;"><p><b>{{ comment.author.first_name }} {{ comment.author.last_name }}</b></p></div>
                            </div>

                            <div class="post-buttons">
                                <h style="margin-top: 7px; margin-left: 55px; font-size: 10px ">{{ comment.published }}</h>
                            </div>
                        </div>

                        <div class="post-body">
                            <h style="font-size: 15px">{{ comment.body|safe }} </h>
                        </div>
                    </div>
                    <hr class="line">
            {% endfor %}
        </div>
    </div>
{% endblock %}