{% extends "header.html" %}

{% block content %}
    <div id="posts-page" class="single-post-show">
        <div id="post-box" class="single-post-box-show">
            <p class="date">
                {% if group_post.published %}
                    Published {{ group_post.published }}
                {% endif %}
            </p>

            {% if group_post.image %}
                <div class="post-image-space"><img src="{{ group_post.image.url }}" width="256" alt="Avatar" class="post-image"></div>
            {% endif %}

            {{ group_post.body|safe }}
        </div>

        <div class="single-post-box-show">
            <div class="single-post-box-coment1">
                <form method="POST">
                    {% csrf_token %}

                     {% for field in form %}
                        <div class="rich-text">
                            {{ field }}
                        </div>
                    {% endfor %}

                    <div class="comment_button">
                        <button id="coment-a-post" type="submit">Comment</button>
                    </div>

                </form>
            </div>
            {% for comment in comments %}
                    <div class="post-box-comments">
                        <div class="current-avatar">
                            {% if comment.author.profile.image %}
                                <img src="{{ comment.author.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                            {% else %}
                                <img src="/static/images/img_avatar.png" width="128" alt="Avatar" class="post-profile_avatar">
                            {% endif %}
                            <div class="post-user-information">
                                <div class="post-name" style="font-size: 13px;"><p><b>{{ comment.author.first_name }} {{ comment.author.last_name }}</b></p></div>
                            </div>

                            <div class="post-buttons">
                                <h style="margin-top: 7px; margin-left: 55px; font-size: 10px ">{{ comment.published }}</h>
                            </div>
                        </div>

                        <div class="post-body">
                            <h style="font-size: 15px">{{ comment.body|safe }} </h>
                        </div>
                    </div>
                    <hr class="line">
            {% endfor %}
        </div>
    </div>
{% endblock %}