{% extends "header.html" %}

{% block content %}
{% load static %}
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
      <div class="single-post">
          <div class="single-post-box">
              <div class="current-avatar">
                  {% if user.profile.image %}
                      <img src="{{ user.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                  {% else %}
                      <img src="{% static "images/img_avatar.png" %}" width="128" alt="Avatar" class="post-profile_avatar">
                  {% endif %}
              </div>
              <div class = "post-info-user">
                  <div class="profile_edit_container">
                      {% for field in form %}
                          <label class="mylabel"><b>{{ field.label }}</b></label>
                          {{ field }}
                      {% endfor %}
                  </div>
              </div>
              <hr style="margin-top: 0px; margin-bottom: 5px;">
              <button id="share-a-post" type="submit"> Update</button>
          </div>
      </div>
  </form>
{% endblock %}