<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="footer-container">
        <div class="footer-main">
            <div class="footer-column">
                <p>General</p>

                <li><a href="#" >Register</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Job</a></li>
                <li><a href="#">Developers</a></li>

            </div>
            <div class="footer-column">
                <p>Browse Chainedout</p>

                <li><a href="#">Learning</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Salary</a></li>
                <li><a href="#">Mobile</a></li>
                <li><a href="#">ProFinder</a></li>

            </div>
            <div class="footer-column">
                <p>Bussiness Solution</p>

                <li><a href="#">Talent</a></li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Sales</a></li>
                <li><a href="#">Learning</a></li>

            </div>
            <div class="footer-column">
                <p>Directories</p>

                <li><a href="#">Members</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Enterprises</a></li>
                <li><a href="#">Salaries</a></li>
                <li><a href="#">Universities</a></li>
                <li><a href="#">Outstanding</a></li>
                <li><a href="#">Learning</a></li>

            </div>
        </div>
    </div>

    <div class="Text-container">
        <div class="Text-main">
            <div class="text">
                <p>
                    Finding this site helpful? There's more coming for our subscribers
                </p>
            </div>

            <div class="search_bar">
                 <input type="text" placeholder="Email.." class="bar">
                 <button type="button" class="subscribebtn"> Subscribe </button>
            </div>
        </div>
    </div>

    <div class="social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
    </div>

    <div class="copyright">
        &copy; 2019 Chainedout
    </div>

</body>
