<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/style.css">

</head>

<body>
    <div class="footer-container">
        <div class="footer-main">
            <div class="footer-column-1">
                <h3>General</h3>

                <li><a href="#" >Register</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">About as</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Job</a></li>
                <li><a href="#">Developers</a></li>

            </div>
            <div class="footer-column-2">
                <h3>Browse by Chainedout</h3>

                <li><a href="#">Learning</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Salary</a></li>
                <li><a href="#">Mobile</a></li>
                <li><a href="#">ProFinder</a></li>

            </div>
            <div class="footer-column-3">
                <h3>Bussines Solution</h3>

                <li><a href="#">Talent</a></li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Sales</a></li>
                <li><a href="#">Learning</a></li>

            </div>
            <div class="footer-column-4">
                <h3>Directories</h3>

                <li><a href="#">Members</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Enterprises</a></li>
                <li><a href="#">Salaries</a></li>
                <li><a href="#">Universities</a></li>
                <li><a href="#">Outstanding</a></li>
                <li><a href="#">Learning</a></li>

            </div>
        </div>
    </div>

    <div class="Text-container">
        <div class="Text-main">
            <div class="text">
                <h2>
                    Find People, Job and more...
                </h2>


            </div>

            <div class="search_bar">
                 <input type="text" placeholder="Search..">
            </div>
        </div>

    </div>

    <div class="Social">
        <ul>
            <a href="#"><img src="../static/style/images/fi-social-facebook.svg"></a>
            <a href="#"><img src="../static/style/images/fi-social-twitter.svg"></a>
            <a href="#"><img src="../static/style/images/fi-social-github.svg"></a>
        </ul>

    </div>

    <div class="copyright">
        &copy; 2019 Chainedout
    </div>

</body>
