<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/stylesheet.css?{% now "U" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
             }
        });
        $(document).ready(function(){
            {% block domready %}
            {% endblock %}
        });
    </script>
    <link rel="shortcut icon" href="/static/style/images/favicon.ico" type="image/vnd.microsoft.icon">
    <script src="/static/style/script.js"></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Chainedout</title>
</head>
<body>

<nav>

<div id="main_menu"><!-- Main nav -->

    <a href="{% url 'index' %}">
        <!-- Website logo -->
        <div class="logo"></div>
        <!-- Website logo -->
    </a>

    <!-- Links to sign-in, sign up, logout -->
    <div class="inner_main_menu">
        <ul>
            {% if request.user.is_authenticated %}
                <li><a id = "logout" class="logout" href="{% url 'logout' %}?next=/"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                <li><a id = "userprofile" class="userprofile" href="{% url 'saveprofile' %}"> <i class="fa fa-fw fa-user"></i>Profile</a></li>
                <li><a id = "posts" class="posts" href="{% url 'post_list' %}">Posts</a></li>
                <!-- <li><a id = "users" class="users" href="{% url 'user_list' %}"><i class="fa fa-fw fa-users"></i> Users</a></li> -->
                <li>
                    <form method="GET" action="{%  url 'user_list' %}">
                        <input name="q" type="text" value="{{ request.GET.q }}" placeholder="Search..."/>
                    </form>
                </li>
            {% else %}
                <li><a id = "register" class="register" href="{% url 'register' %}"><i class="fa fa-fw fa-users"></i> Register</a></li>
                <li><a id = "login" onclick="modal('login_modal', 'block')"><i class="fa fa-fw fa-user"></i> Login</a></li>
            {%  endif %}
        </ul>
    </div><!-- Links to sign-in, sign up, logout -->

</div><!-- Main nav -->

<!------------------------------ LOGIN MODAL START ---------------------------------->
<!-- The Modal -->
<div id="login_modal" class="lmodal">

  <!-- Modal Content -->
  <form class="lmodal-content animate" method="post" action="{%  url 'login' %}">
  {% csrf_token %}

    <div onclick="modal('login_modal', 'none')" class="mclose" title="Close Modal">&times;</div>
    <div class="login_modal_imgcontainer">
      <img src="/static/images/img_avatar.png" alt="Avatar" class="login_modal_avatar">
    </div>

    <div class="login_modal_container">
      <label for="username"><b>Username</b></label>
      <input class="login_modal_input" type="text" placeholder="Enter Username" id="username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input class="login_modal_input" type="password" placeholder="Enter Password" id="password" name="password" required>
      

      <hr style="margin-top: 20px;">
      <button class="login_modal_btn" type="submit" value="LOGIN">Login</button>
      <span class="login_modal_psw"> <a href="#">Forgot password?</a></span>

    </div>
  </form>
</div>
<!------------------------------ LOGIN MODAL END ---------------------------------->

</nav>

{% block content %}
{% endblock %}

{% include "footer.html" %}

</body>
</html>
