{% include "header.html" %}

{% block content %}

<div class="landing-parallax">
	<div class="landing-parallax-text">
		<h1>Welcome to your <br>professional community</h1>
	</div>
    {% if not request.user.is_authenticated %}
        <a href="{% url 'register' %} ">
            <div class="landing-parallax-button">
                <button class="landing-parallaxbtn">Join us</button>

            </div>
        </a>
    {% endif %}
	<div class="landing-parallax-scroll-indicator">
		<p>Scroll</p>
		<div class="landing-parallax-scroll-indicator-arrow"><a href="#landing-presentation"><i class="fas fa-chevron-down"></i></a></div>
	</div>
</div>

<div class="landing-presentation" id="landing-presentation">
	<div class="landing-presentation-title">
		<h1> Why Chained Out?</h1>
	</div>

	<div class="landing-presentation-subtitle">
		<h2> We want to create an economic opportunity for you.</h2>
	</div>

	<div class="landing-presentation-body">
		<p> With ChainedOut connections, you can strengthen and extend your professional network of trusted contacts. Stay up to date on industry trends and best practices, and both learn and share what you know. Join Groups to connect with people who share your interests.</p>
	</div>

	<div class="landing-presentation-search-bar">
		<input type="text" placeholder="Search job titles or companies" name="main-search">
      	<button type="submit">Search Jobs</button>
	</div>
</div>

<div class="landing-post-job">
	<h1> Post your job for <br>millions of people to see </h1>
    <a id = "create-post" class="landing-post-job-button" href="{% url 'post_create' %}">Create a post</a>
</div>



{% endblock %}

{% include "footer.html" %}
