/*  Common StyleSheet
    --------------------------------------------------------------
    Style name: Chainedout-Green
    Original author: Manuel Martínez, Carlos Shui
    version: 1.0
    --------------------------------------------------------------
*/

* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: "Droid Sans", sans-serif;
    background-color: #f7faff;
}

/* ------------------------------------ MAIN NAVBAR START ------------------------------------ */

.inner_main_menu{
    margin:0;
    width: 100%;
}

.inner_main_menu ul{
    margin:0;
    list-style: none;
    text-align:right;
    background-color: #00302f;
    height: 60px;
    padding: 10px 0 0;
}

.inner_main_menu ul li{
    float:right;
    display:inline-block;
}

.inner_main_menu ul li a{
    color: #fff;
    font-size:15px;
    text-transform: uppercase;
    text-decoration:none;
    display:block;
    padding: 10px 20px;
}

.inner_main_menu ul li a:hover{
    color: #b5c0c0;
}

#main_menu{
    width:100%;
    position:relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.logo{
    background: url(./images/chainedout_logo_nav.svg) no-repeat center center;
    background-size: contain;
    width: 150px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 8px;
    margin-left: 20px;
}

.logo a{
    color: white;
    text-decoration:none;
}

/* ----------------------------------- MAIN NAVBAR END ----------------------------------- */


/* ------------------------------------- MODAL START ---------------------------------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  margin-top: 50px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 520px;
  border: 2px solid #fff;
  border-radius: 20px;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  color: #000;
  font-size: 35px;
  font-weight: bold;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Full-width input fields */
input[type=text].login_modal_input, input[type=password].login_modal_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.login_modal_input{
  font-size: 0.8em;
}
/* Set a style for all buttons */
button.login_modal_btn {
  background-color: #00302f;
  width: 15%;
  border: 1px solid #ccc;
  border-radius: 20px;
  float: right;
}

button.login_modal_btn{
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

button:hover.login_modal_btn{
  opacity: 0.8;
}

/* Center the image and position the close button */
.login_modal_imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  clear: both;
}

img.login_modal_avatar {
  width: 20%;
  border-radius: 50%;
}

.login_modal_container {
  padding: 16px;
}

span.login_modal_psw {
  float: left;
  padding-top: 16px;
}


/* ------------------------------------- MODAL END ---------------------------------------- */

/* ------------------------------------- REGISTER ----------------------------------------- */

body .register{
  font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}
/* ---- TEXT ----*/
h1{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 8px;
  overflow-wrap: normal;
  color: #333333;
  margin-left: 200px;
  margin-top: 250px;
  line-height: 1.2em;
}

h2{
  font-weight: 700;
  font-size: 48px;
  color: #333333;
  margin-left: 200px;
  line-height: 1.2em;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.8em;
  padding-bottom: 0;
  font-size: 22px;
  font-weight: 300;
}
/* ----- TEXT END ------ */
/* ----- Register box ----*/
.registerbox{
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border-width: 10px;
  background-color: white;
  float: left;
  margin-left: 180px;
}

.signin {
  text-align: center;
}

input[type=text], input[type=password], input[type=email]{
  width: 100%;
  padding:15px;
  margin:5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border:2px solid #555;
  border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}

input[type='checkbox']{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  border:2px solid #555;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

/* Register button */
.registerbtn{
  background-color: #0F292F;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 35%;
  opacity: 0.9;
  border-radius: 20px;
  margin-top: 30px;
  float: right;
}

.registerbtn:hover{
  background-color: #14A098;;
}
/* ----- REGISTER BOX END ---------*/ 
/* ----------------------------------- REGISTER END --------------------------------------- */
