/*  Common StyleSheet
    --------------------------------------------------------------
    Style name: Chainedout-Green
    version: 1.0
    --------------------------------------------------------------
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Droid Sans", sans-serif;
    background-color: #FFFFFF;
}

/* ------------------------------------ MAIN NAVBAR START ------------------------------------ */

.inner_main_menu{
    margin:0;
    width: 100%;
}

.inner_main_menu ul{
    margin:0;
    list-style: none;
    text-align:right;
    background-color: #00302f;
    height: 60px;
    padding: 10px 0 0;
}

.inner_main_menu ul li{
    float:right;
    display:inline-block;
}

.inner_main_menu ul li a{
    color: #fff;
    font-size:15px;
    text-transform: uppercase;
    text-decoration:none;
    display:block;
    padding: 10px 20px;
}

.inner_main_menu ul li a:hover{
    color: #b5c0c0;
}

.inner_main_menu #login:hover {
  cursor: pointer;
}

#main_menu{
    width:100%;
    min-width: 800px;
    position:relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.logo{
    background: url(./images/chainedout_logo_nav.svg) no-repeat center center;
    background-size: contain;
    width: 150px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 8px;
    margin-left: 20px;
}

.logo a{
    color: white;
    text-decoration:none;
}

/* ----------------------------------- MAIN NAVBAR END ----------------------------------- */


/* ------------------------------------- MODAL START ---------------------------------------- */

/* The Modal (background) */
.lmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.lmodal-content {
  background-color: #fefefe;
    /* 15% from the top and centered */
  margin: 10px auto 5px;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 500px;
  border: 2px solid #fff;
  border-radius: 20px;
}

/* The Close Button */
.mclose {
  /* Position it in the top right corner outside of the modal */
  color: #000;
  font-size: 35px;
  font-weight: bold;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

/* Close button on hover */
.mclose:hover,
.mclose:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Full-width input fields */
input[type=text].login_modal_input, input[type=password].login_modal_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.login_modal_input{
  font-size: 0.8em;
}
/* Set a style for all buttons */
button.login_modal_btn {
  background-color: #00302f;
  border: 1px solid #ccc;
  border-radius: 20px;
  float: right;
}

button.login_modal_btn{
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

button:hover.login_modal_btn{
  opacity: 0.8;
}

/* Center the image and position the close button */
.login_modal_imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  clear: both;
}

img.login_modal_avatar {
  width: 20%;
  border-radius: 50%;
}

.login_modal_container {
  padding: 16px;
}

span.login_modal_psw {
  float: left;
  padding-top: 16px;
  color: #006097;
}

span.login_modal_psw a {
  text-decoration: none;
  color: #006097;
}

span.login_modal_psw a:hover {
  text-decoration: underline;
}

/* ------------------------------------- MODAL END ---------------------------------------- */

/* ------------------------------------- REGISTER ----------------------------------------- */

body .register{
  font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}
/* ---- TEXT ----*/
.register-main-text h1{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 8px;
  overflow-wrap: normal;
  color: #333333;
  line-height: 1.2em;
}

.register-main-text h2{
  font-weight: 700;
  font-size: 48px;
  color: #333333;
  line-height: 1.2em;
}

.register-main-text p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  line-height: 1.8em;
  padding-bottom: 0;
  font-size: 22px;
  font-weight: 300;
}
/* ----- TEXT END ------ */
/* ----- Register box ----*/
/* register box space */
.register-box{
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border-width: 10px;
  background-color: white;
  float: left;
  margin-left: 180px;
}

.signin {
  text-align: center;
}

input[type=text], input[type=password], input[type=email]{
  width: 100%;
  padding:15px;
  margin:5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
  border:2px solid #555;
  border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}

input[type='checkbox']{
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  border:2px solid #555;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

/* Register button */
.registerbtn{
  background-color: #0F292F;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 35%;
  opacity: 0.9;
  border-radius: 20px;
  margin: 30px 0 8px;
  float: right;
}

.registerbtn:hover{
  background-color: #14A098;;
}
/* ----- REGISTER BOX END ---------*/ 
/* ----------------------------------- REGISTER END --------------------------------------- */

/* ---------------------------------- LANDING PAGE ---------------------------------------- */ 
body, html {
  height: 100%;
  margin: 0;
}

.landing-parallax{
  background-image: url("./images/business2.jpg");

  height: 100%;
  min-height: 100%;

  /* Paralax effect */
  background-attachment: fixed;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  color: white;
  font-style: normal;
}

.landing-parallax-text h1{
  width: 65%;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
  display: block;

  position: absolute;
  left: calc(35%/2);
  top: 30%;

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.landing-parallaxbtn{
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  transition: 0.1s background-color linear, 0.1s color linear;
  width: 16%;
  height: 60px;

  font-size: 35px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;

  position: absolute;
  left: calc(84%/2);
  top: 65%;
}

.landing-parallaxbtn:hover{
  color: black;
  background-color: white;
}

.landing-parallax-scroll-indicator p{
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1em;

  position: absolute;
  width: 4%;
  left: calc(96%/2);
  top: 94%;
}

.landing-parallax-scroll-indicator-arrow{
  font-size: 30px;
  color: white;

  position: absolute;
  width: 2%;
  left: calc(98%/2);
  top: 96%;
}

.landing-parallax-scroll-indicator-arrow:hover{
  top: 95%;
  color:white;
}

.landing-presentation{

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;

  height: 550px;
}

.landing-presentation .landing-presentation-title h1{
  padding-top: 140px;
  font-size: 60px;
  font-weight: 600;
}

.landing-presentation .landing-presentation-subtitle h2{
  padding-top: 50px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.6em;
}

.landing-presentation .landing-presentation-body p{
  padding-top: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 1.5em;

  color: grey;
  margin-left: 20%;
  margin-right: 20%;
}

.landing-presentation .landing-presentation-search-bar {
  width: 40%;
  margin-left: 25%;
  margin-top: 40px;
  white-space: nowrap;
  vertical-align: middle;
}

.landing-presentation-search-bar input[type=text] {
  padding: 6px;
  font-size: 17px;
}

.landing-presentation .landing-presentation-search-bar button {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  font-size: 17px;
  height: 40px;
  margin-left: 20px;

  white-space: nowrap;
  display: inline;
  vertical-align: baseline;
  text-align: center;
}

.landing-presentation .landing-presentation-search-bar button:hover {
  background: black;
  color: white;
}

.landing-post-job{
  height: 300px;
  background-color: #f1ece5;
  margin-top: 100px;
  min-width: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-post-job h1{
  color: #b24020;
  font-weight: 200;
  margin-left: 150px;
  margin-top: 130px;

  letter-spacing: 0;
  line-height: 1em;
  text-transform: none;
  display: block;

  position: absolute;
}

.landing-post-job-button{
  background-color: transparent;
  border-style: solid;
  border-color: #b24020;
  border-width: 2px;
  transition: 0.1s background-color linear, 0.1s color linear;
  width: 10%;
  height: 6%;

  font-size: 20px;
  color: #b24020;
  text-align: center;
  padding: 12px;

  position: absolute;
  margin-left: 600px;
  margin-top: 150px;
}

.landing-post-job-button:hover{
  background-color: #b24020;
  color: #f1ece5;
}


/* --------------------------------- LANDING PAGE END ------------------------------------- */

/* -------------------------------------- FOOTER ------------------------------------------ */

/* Creates the footer container */
.footer-container {
	width: 100%;
	max-width: 100%;
	padding: 50px 0;
	background: #00302f;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	min-width: 800px;
}

/* Creates the space where the columns will stay */
.footer-main {
	margin: auto;
}

/* Create 4 equal columns that floats next to each other */
.footer-column{
    float: left;
    color: #FFFFFF;
    text-align: justify;
    margin: 30px 40px;
    display: inline-block;
}

/* Clear floats after the columns */ 
.footer-main:after{
	content: "";
	display: table;
	clear: both;
}

/* Text style for footer title */
.footer-column h3{
	font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 2em;
	text-decoration: none;
	padding-bottom: 10px;
	display: block;
	text-align: left;
}

/* Text style for footer content */
.footer-column li a{
	color: white;
	font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 2em;
	text-decoration: none;
	text-align: left;
}

/*************************************************************/

.Text-container {
	width: 100%;
	margin: auto;
	padding: 10px 0;
	background: white;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
}

.Text-main {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
}

.Text-main .text p{
	width: 100%;
	text-align: center;
	font-weight: 700;
  	font-size: 48px;
  	color: #333333;
  	line-height: 1.2em;
}

.Text-main .search_bar{
	width: 100%;
	color: black;
	white-space: nowrap;
	display: inline;
	vertical-align: baseline;
	text-align: center;
}

.Text-main .search_bar input[type=text]{
	border-radius: 40px;
	width: calc(200%/4);
	font-size: 0.9em;
}

.Text-main .search_bar .subscribebtn{
	background-color: #00302f;
	color: white;
	cursor: pointer;
	border-radius: 40px;
	border: none;
	height: 50px;
	font-size: 0.9em;
  padding-left: 20px;
  padding-right: 20px;
  width: 15%;
}

/* ----------------------- Social buttons  -------------------------- */
/* Social icons space */ 
.social{
	width: 100%;
	text-align: center;
}

/* Social icons background */ 
.social .fa{
 	padding: 20px;
	font-size: 30px;
	width: 80px;
	text-align: center;
	text-decoration: none;
	margin: 5px 15px;
	border-radius: 50%;
}

/* Social icons */ 
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa:hover {
    opacity: 0.7;
}

.copyright{
	padding-top: 20px;
	text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
}

/* ------------------------------------- PROFILE START ----------------------------------------- */
#profile {
    min-width: 800px;
}
#profilebox {
    border: 1px solid #BFBFBF;
    background-color: #FFFFFF;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    box-shadow: 2px 2px 5px #aaaaaa;
}

#profile .left_profile {
    float: left;
}

#profile .right_profile {
    float: right;
}

#profile .right_profile a {
    color: #0F292F;
}

#profile .right_profile .elemprofile {
    margin-bottom: 10px;
    font-weight: bolder;
}

#profile img.profile_avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

#profile .fabsep {
    font-size: 5px;
    vertical-align: middle;
    margin-right: 3px;
    margin-left: 3px;
}

#profile h1 {
    font-size: 22px;
    text-transform: none;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

#profile h2 {
    font-size: 17px;
    font-weight: 200;
    margin-bottom: 5px;
}

#profile h3 {
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 5px;
}

#profile .data {
  font-size: 14px;
  margin-bottom: 10px;
}

#profile .data .info_data {
  margin-right: 10px;
}

#profile .data .info_data:last-child {
  margin-right: 0;
}


#profile a .flink, #profile a:link .flink {
    font-size: 14px;
    font-weight: bold;
    color: #0b4d5d;
}

#profile a:hover .flink {
    text-decoration: underline;
}

#profile a, #profile a:link, #profile a:hover {
    text-decoration: none;
}

#profile .left_box {
    float: left;
}

#profile .right_box {
    float: right;
}

#profile .elemprofile a {
    color: #0F292F;
}

#profile .elemprofile {
    margin-bottom: 10px;
    font-weight: bolder;
}

#profile .elemprofile:hover {
  cursor: pointer;
  opacity: 1;
}

#profile h1.title {
    font-size: 22px;
    font-weight: 200;
}

#profile a h1 {
    color: #0F292F;
}

#profile a:hover h1 {
    text-decoration: underline;
}

#profile hr.title_sep {
    clear: both;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    margin-bottom: 10px;
}

#profile p {
  font-size: 15px;
  font-weight: 200;
}

#profile hr.section_sep, .login_modal_container hr, .profile_modal_container hr {
    clear: both;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #BFBFBF, #BFBFBF, #BFBFBF);
    background-image: -moz-linear-gradient(left, #BFBFBF, #BFBFBF, #BFBFBF);
    background-image: -ms-linear-gradient(left, #BFBFBF, #BFBFBF, #BFBFBF);
    background-image: -o-linear-gradient(left, #BFBFBF, #BFBFBF, #BFBFBF);
}

#profile hr.section_sep {
  margin: 20px -20px;
}

#profile .data a {
  color: #0F292F;
  text-decoration: none;
}

#profile .data a:hover {
  text-decoration: underline;
}

/* SCROLL MODAL */
.scrollable_modal_container {
  max-height: 500px;
  overflow-y: auto;
  padding: 10px;
}

.scrollable_modal_container input[type=text], input[type=number], textarea {
  width: 100%;
  padding:15px;
  margin:5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
  border:2px solid #555;
  border-radius: 10px;
}

.scrollable_modal_container textarea {
  resize: none;
}

#profile .edubox {
  float: left;
}

#profile .edit_edubox {
  float: right;
}

#profile .element {
    padding-top: 5px;
    padding-bottom: 5px;
}

#profile hr.sepelement{
    border-top: 1px dashed #00302f;
    color: transparent;
    background-color: transparent;
    opacity: 0.5;
    margin-bottom: 5px;
    margin-top: 5px;
}

#profile hr.sepelement:last-child {
    display: none;
}

#profile .edubox p {
  margin-bottom: 5px;
}

#profile .edubox p:last-child {
  margin-bottom: 0;
}

button.profile_btn_rem {
  background-color: transparent;
  color: #301700;
  font-weight: bolder;
  cursor: pointer;
  border: 0;
  font-size: 14px;
}

button.profile_btn_edit {
  background-color: transparent;
  color: #00302f;
  font-weight: bolder;
  cursor: pointer;
  border: 0;
  font-size: 14px;
}

/* ----- MODAL PROFILE START ----- */
/* The Modal (background) */
.profile_modal, .about_modal, .education_modal, .education_modal, .experience_modal, .skills_modal, .achievements_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.profile-modal-content {
  background-color: #fefefe;
    /* 15% from the top and centered */
  margin: 10px auto 5px;
  width: 70%; /* Could be more or less, depending on screen size */
  border: 2px solid #fff;
  border-radius: 20px;
}

/* Full-width input fields */
input[type=text].profile_modal_input, input[type=password].profile_modal_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input[type=number].profile_modal_input {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button.profile_modal_btn {
  background-color: #00302f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 20px;
  float: right;
}

button.profile_modal_btn_rem {
  background-color: #301700;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 20px;
  float: right;
}

button:hover.profile_modal_btn{
  opacity: 0.8;
}

/* Center the image and position the close button */
.profile_modal_imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  clear: both;
}

.profile_modal_title {
  padding-left: 16px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 35px;;
  float:left;
}

.profile_modal_container {
  padding: 16px 16px 80px;
}

.profile_edit_container {
  margin: 0 auto;
  padding: 16px;
  width: 100%;
}

#profile .btnMargin {
  margin-left: 10px;
}

#profile .btnMargin:first-child {
  margin-left: 0;
}

/* ----- MODAL END ----- */

/* ------------------------------------- PROFILE END ----------------------------------------- */


/* ------------------------------------- POSTS PAGE START ----------------------------------------- */
.posts-page {
    min-width: 200px;
}
.post-box {
    border: 1px solid #BFBFBF;
    background-color: #FFFFFF;
    margin: 20px auto;
    padding: 20px 20px 10px;
    width: 50%;
    box-shadow: 2px 2px 5px #aaaaaa;
}
hr.line{
  margin-left: 60px;
  margin-right: 9px;
}
.posts-page img.post-profile_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  vertical-align: middle;
  float: left;
}

.post-user-information{
  vertical-align: middle;
  padding-left: 60px;
}
.post-user-information .post-name p{
  font-weight: bold;
}

.post-user-information .post-followers p{
  color: #555555;
  font-size: 12px;
}

.post-user-information .post-date p{
  color: #555555;
  font-size: 12px;
}

.post-body{
  margin-top: 10px;
  padding: 10px 10px 10px 60px;
  font-size: 13px;
}

.post-image-space{
  width: 100%;
  padding: 10px 10px 10px 60px;
}

.post-image{
  position: relative;
  width: 100%;
  z-index: 0;
}
.post-buttons{
  margin-bottom: 0px;
  padding: 5px 5px 0px;
}

.post-buttons .post-like{
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #555555;
  text-decoration: none;

  text-align: center;
  position: relative;
  padding-left: 60px;
  padding-right: 10px;
}

.post-buttons .post-comment{
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #555555;
  text-decoration: none;

  text-align: center;
  position: relative;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-buttons .post-share{
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #555555;
  text-decoration: none;

  text-align: center;
  position: relative;
}

.post-like:hover{
  color: #00302f;
}
.post-comment:hover{
  color: #00302f;
}
.post-share:hover{
  color: #00302f;
}

.pagination {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
  vertical-align: middle;
  padding: 20px 20px 20px 24%;
}
.pagination-current p{
  width: 20%;
  display: table-cell;
  float: left;
  font-size: 15px;
  text-align: center;
}

.pagination-prev {
  width: 4%;
  display: table-cell;
  float: left;
  color: #00302f;
  font-size: 15px;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.pagination-prev:disabled{
  color: #777777;
}

.pagination-next {
  width: 4%;
  display: table-cell;
  float: left;
  color: #00302f;
  font-size: 15px;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.pagination-next:disabled{
  color: #777777;
}


/* ------------------------------------- POSTS PAGE END ----------------------------------------- */

/* ------------------------------------- SINGLE POST START ----------------------------------------- */

.single-post{
    min-width: 200px;
}

.single-post-box{
    border: 1px solid #BFBFBF;
    background-color: #FFFFFF;
    margin: 20px auto;
    padding: 20px 20px 44px;
    width: 50%;
    box-shadow: 2px 2px 5px #aaaaaa;
}

button#share-a-post {

    background-color: #00302f;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: right;
}

img.post-profile_avatar{
    //float: right;
}

.single-post img.post-profile_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    vertical-align: middle;
    float: left;
}

.post-info-user {
    vertical-align: middle;
    padding-left: 60px;
    padding-bottom: -40px;
}

.single-post-show{
    min-width: 200px;
}

.single-post-box-show{
    border: 1px solid #BFBFBF;
    background-color: #FFFFFF;
    margin: 19px auto 0px;
    padding: 20px 20px 20px;
    width: 80%;
    box-shadow: 2px 2px 5px #aaaaaa;
    text-align: justify
}

.single-post-box-show p.date {
    text-align:center;
}

.single-post-box-show .post-image-space{
    width: 100%;
    padding: 10px 10px 10px 10px;
    text-align:justify;
}

.single-post-box-coment{
    border: 1px solid #BFBFBF;
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px 20px 20px;
    width: 80%;
    box-shadow: 2px 2px 5px #aaaaaa;
    text-align: justify;
    font-size: 10px;
}

textarea#comments{
    margin: 5px 0 5px 0;
    border-radius:5px;
    width: 100%;
    height: 30px;
    padding: 5px;
}