{% extends "header.html" %}

{% block content %}
    <div id="posts-page" class="single-post-show">
        <div id="post-box" class="single-post-box-show">
            <p class="date">
                {% if post.status == 'posted' %}
                    Posted {{ post.published }}
                {% else %}
                    Drafted {{ post.published }}
                {% endif %}
            </p>

            {% if post.image %}
                <div class="post-image-space"><img src="{{ post.image.url }}" width="256" alt="Avatar" class="post-image"></div>
            {% endif %}

            {{ post.body }}
        </div>

       <div id="post-box-coment" class="single-post-box-coment1">
            <div class="coments_exemple">
                <form action="{% url 'AddComment' pk=post.pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                            <input id="texto" type="text" name="texto" value="{{ comment.texto }}">
                        <div class="comment_button">
                            <button id="coment-a-post" type="submit">Post</button>
                         </div>
                </form>
            </div>
        </div>

        <div id="post-coment" class="single-post-box-show">
            {% for comment in comments %}
                <div class="post-body">
                    {{ comment.user.name }}
                    {{ comment.texto }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}