{% extends "header.html" %}

{% block content %}
    <div class="single-post">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="single-post-box">
                <div class="current-avatar">
                    {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                    {% else %}
                        <img src="/static/images/img_avatar.png" width="128" alt="Avatar" class="post-profile_avatar">
                    {% endif %}
                </div>
                <div class = "post-info-user">
                      <div class="profile_edit_container">
                          {% for field in form %}
                              <label class="mylabel"><b>{{ field.label }}</b></label>
                              {{ field }}
                          {% endfor %}
                          <br><br>{{ formset.management_form }}
                          {% for form in formset %}
                            {{ form }}<br><br>
                          {% endfor %}
                      </div>
                <button id="share-a-post" type="submit"> Share </button>
            </div>
                </div>
        </form> 
    </div>

    {% for post in posts %}
        <div class="posts-page">
            <div class="post-box">
                <div class="current-avatar fleft">
                    {% if post.author.profile.image %}
                        <img src="{{ post.author.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                    {% else %}
                        <img src="/static/images/img_avatar.png" width="128" alt="Avatar" class="post-profile_avatar">
                    {% endif %}
                    <div class="post-user-information">
                        <div class="post-name"><p>{{ post.author.first_name }} {{ post.author.last_name }}</p></div>
                        <div class="post-followers"><p>{{ post.author.followers.count }} follower{{ post.author.followers.count|pluralize }}</p></div>
                        <div class="post-followers"><p>{{ post.likes.count }} like{{ post.likes.count|pluralize }}</p></div>
                        {% if post.status == 'posted' %}
                            {% if post.updated != post.created %}
                                <div class="post-date"><p>Updated {{ post.updated }}</p></div>
                            {% else %}
                                <div class="post-date"><p>Posted {{ post.created }}</p></div>
                            {% endif %}
                        {% endif %}
                        {% if post.status == 'draft' %}
                            <div class="post-status"><p>(Draft)</p></div>
                        {% endif %}
                    </div>
                </div>
            <div class="post-buttons fright">
                    {% if post.author == user %}
                        <form action="{% url 'update_post' year=post.created.year month=post.created.month day=post.created.day slug=post.slug pk=post.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="post-edit bhoverlink" type="submit" value="edit"><i class="fas fa-edit"></i> Edit</button>
                        </form>
                        <form action="{% url 'delete_post' pk=post.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="post-delete bhoverlink" type="submit" value="remove"><i class="fas fa-trash-alt"></i> Delete</button>
                        </form>
                    {% else %}
                        <button class="post-like bhoverlink">
                            <a href="{% url 'like_post' year=post.created.year month=post.created.month day=post.created.day slug=post.slug pk=post.pk %}" class="post-comment">
                                {% if post in user.post_likes.all %}
                                    <i class="fas fa-thumbs-down"></i> Unlike
                                {% else %}
                                    <i class="fas fa-thumbs-up"></i> Like
                                {% endif %}
                            </a>
                        </button>
                    {% endif %}
            </div>
            <div style="clear:both;">

                <!-- <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2> -->

                <div class="post-body">
                    {{ post.body|safe }}
                </div>

            {% if post.images %}
            <div class="slideshow-container_carousel">
                {% for post_image in post.images.all %}
                    <div class="mySlides_carousel{{ post.id }} fade">
                        <div class="numbertext_carousel">{{ forloop.counter }}</div>
                        <img src="{{ post_image.image.url }}" style="width:100%">
                        <div class="text_carousel">Image {{ forloop.counter }}</div>
                    </div>
                {% endfor %}
                <a class="prev_carousel" onclick="plusSlides(-1, {{ post.id }})">&#10094;</a>
                <a class="next_carousel" onclick="plusSlides(1, {{ post.id }})">&#10095;</a>
            </div>
                <div style="text-align:center;margin-bottom:10px;">
            {% for post_image in post.images.all %}
                <span class="dot_carousel" onclick="currentSlide({{ forloop.counter }}, {{ post.id }})"></span>
            {% endfor %}
            </div>
            <script>
            indexesPosts[{{ post.id }}] = 1;
            showSlides(1, {{ post.id }});
            </script>
            {% endif %}

                <hr class="line">
                <div class="post-buttons">
                    <button class="post-comment"><a href="{{ post.get_absolute_url }}" class="post-comment"><i class="fas fa-comments"></i> Comment</a></button>
                    <div id="dropdownList">
                    <ul>
                        <li class="dropdown"><a href="javascript:void(0)" class="dropbtn"><i class="fas fa-share-alt"></i> Share</a>
                            <div class="dropdown-content">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}{{ post.get_absolute_url }}" class="post-share">
                                    Facebook
                                </a>
                                <a href="https://twitter.com/home?status={{ post.body|urlencode }}{{ request.build_absolute_uri }}{{ post.get_absolute_url }}" class="post-share">
                                    Twitter
                                </a>
                                <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}{{ post.get_absolute_url }}&title={{ post.body|urlencode }}" class="post-share">
                                    Reddit
                                </a>
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        <div class="pagination">
            {% include "posts/pagination.html" with page=posts %}
        </div>

{% endblock %}