{% extends "header.html" %}

{% block content %}
    <div class="single-post">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="single-post-box">
                <div class="current-avatar">
                    {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                    {% else %}
                        <img src="/static/images/img_avatar.png" width="128" alt="Avatar" class="post-profile_avatar">
                    {% endif %}
                </div>
                <div class = "post-info-user">
                      <div class="profile_edit_container">
                          {% for field in form %}
                              <label class="mylabel"><b>{{ field.label }}</b></label>
                              {{ field }}
                          {% endfor %}
                      </div>
                </div>
                <hr style="margin-top: 0px; margin-bottom: 5px;">
                <button id="share-a-post" type="submit"> Share </button>
            </div>
        </form>
    </div>

    {% for post in posts %}
        <div class="posts-page">
            <div class="post-box">
                <div class="current-avatar">
                    {% if post.author.profile.image %}
                        <img src="{{ post.author.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                    {% else %}
                        <img src="/static/images/img_avatar.png" width="128" alt="Avatar" class="post-profile_avatar">
                    {% endif %}
                    <div class="post-user-information">
                        <div class="post-name"><p>{{ post.author.first_name }} {{ post.author.last_name }}</p></div>
                        <div class="post-followers"><p>{{ post.author.followers.count }} follower{{ post.author.followers.count|pluralize }}</p></div>
                        <div class="post-followers"><p>{{ post.likes.count }} like{{ post.likes.count|pluralize }}</p></div>
                        {% if post.status == 'posted' %}
                            {% if post.updated != post.created %}
                                <div class="post-date"><p>Updated {{ post.updated }}</p></div>
                            {% else %}
                                <div class="post-date"><p>Posted {{ post.created }}</p></div>
                            {% endif %}
                        {% endif %}
                        {% if post.status == 'draft' %}
                            <div class="post-status"><p>(Draft)</p></div>
                        {% endif %}
                    </div>
                </div>

                <!-- <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2> -->

                <div class="post-body">
                    {{ post.body }}
                </div>

                {% if post.image %}
                    <div class="post-image-space"><img src="{{ post.image.url }}" width="256" alt="Avatar" class="post-image"></div>
                {% endif %}

                <hr class="line">
                <div class="post-buttons">
                    {% if post.author == user %}
                        <form action="{% url 'update_post' year=post.created.year month=post.created.month day=post.created.day slug=post.slug pk=post.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="post-edit" type="submit" value="edit"><i class="fas fa-edit"></i> Edit</button>
                        </form>
                        <form action="{% url 'delete_post' pk=post.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="post-delete" type="submit" value="remove"><i class="fas fa-trash-alt"></i> Delete</button>
                        </form>
                    {% else %}
                        <button class="post-like">
                            <a href="{% url 'like_post' year=post.created.year month=post.created.month day=post.created.day slug=post.slug pk=post.pk %}" class="post-comment">

                                {% if post in user.post_likes.all %}
                                    <i class="fas fa-thumbs-down"></i> Unlike
                                {% else %}
                                    <i class="fas fa-thumbs-up"></i> Like
                                {% endif %}
                            </a>
                        </button>
                    {% endif %}
                    <button class="post-comment"><a href="{{ post.get_absolute_url }}" class="post-comment"><i class="fas fa-comments"></i> Comment</a></button>
                    <button class="post-share"><i class="fas fa-share-alt"></i> Share</button>
                </div>
            </div>
        </div>
    {% endfor %}
        <div class="pagination">
            {% include "posts/pagination.html" with page=posts %}
        </div>

{% endblock %}