{% extends "header.html" %}

{% block content %}
    <div id="posts-page" class="single-post-show">
        <div id="post-box" class="single-post-box-show">
            <p class="date">
                {% if post.status == 'posted' %}
                    Posted {{ post.published }}
                {% else %}
                    Drafted {{ post.published }}
                {% endif %}
            </p>

            {% if post.image %}
                <div class="post-image-space"><img src="{{ post.image.url }}" width="256" alt="Avatar" class="post-image"></div>
            {% endif %}

            {{ post.body }}
        </div>

       <div id="post-box-coment" class="single-post-box-coment1">
            <div class="coments_exemple">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                            <input id="texto" type="text" name="texto" value="{{ comment.texto }}">
                        <div class="comment_button">
                            <button id="coment-a-post" type="submit">Comment</button>
                         </div>
                </form>
            </div>
        </div>

    {% if comments %}
        <div id="post-coment" class="single-post-box-show">
            {% for comment in comments %}
                <div class="posts-page">
                    <div class="post-box">
                        <div class="current-avatar">
                            {% if comment.user.profile.image %}
                                <img src="{{ comment.user.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                            {% else %}
                                <img src="/static/images/img_avatar.png" width="128" alt="Avatar" class="post-profile_avatar">
                            {% endif %}
                            <div class="post-user-information">
                                <div class="post-name" style="font-size: 13px;"><p><b>{{ comment.user.username }}</b></p></div>
                            </div>
                        </div>
                        <div class="post-body">
                            <h style="font-size: 15px">{{ comment.texto }} </h>
                        </div>
                        <hr class="line">
                        <div class="post-buttons">
                            <h style="margin-top: 7px; margin-left: 55px; font-size: 10px ">{{ comment.created_date }}</h>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}