{% extends "header.html" %}

{% block content %}
{% load static %}
    <div class="pending-invites">
        <div class="pending-invites-box">
            <h3>Pending invites</h3>
            <hr>
            {% if invites %}
                {% for invite in invites %}
                    <div class="pending-invites-single-box">
                        <div class="message-avatar fleft">
                            {% if invite.sender.profile.image %}
                                <img src="{{ invite.sender.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                            {% else %}
                                <img src="{% static "images/img_avatar.png" %}" width="128" alt="Avatar" class="post-profile_avatar">
                            {% endif %}
                            <div class="post-user-information">
                                <div class="post-name"><p>{{  invite.sender.first_name }} {{  invite.sender.last_name }}</p></div>
                                {% if invite.created %}
                                    <div class="post-date"><p>Received {{ invite.created }}</p></div>
                                {% endif %}
                            </div>
                            <div class="post-body">
                                {{ invite.text }}
                                <div class="invite-group-box"><a href="{{ invite.group.get_absolute_url }}" class="title">
                                    <div class="invite-group-img">
                                        {% if invite.group.image %}
                                            <div class="group-r-avatar"><img src="{{ invite.group.image.url }}" width="512" alt="Avatar" class="profile_avatar"></div>
                                        {% else %}
                                            <div class="group-r-avatar"><img src="{% static "images/img_avatar.png" %}" alt="Avatar" class="profile_avatar"></div>
                                        {% endif %}
                                    </div>

                                    <div class="invite-group-name">
                                        <p><b>{{ invite.group.name }}</b></p>
                                        <p>{{ invite.group.description|safe }}</p>
                                    </div>
                                    <div style="clear:both;"></div>
                                </a></div>
                            </div>
                        </div>
                        <div class="acceptdecline-buttons">
                            <button class="pending-invites-button"><a href="{% url 'accept_invite' group_pk=invite.group.pk invite_pk=invite.pk %}" class="pending-invites-button-text"><i class="fas fa-check"></i> Accept</a></button>
                            <button class="pending-invites-button"><a href="{% url 'decline_invite' group_pk=invite.group.pk invite_pk=invite.pk %}" class="pending-invites-button-text"><i class="fas fa-ban"></i> Decline</a></button>
                        </div>

                        <div style="clear:both;"></div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="pending-invites-single-box">
                    <div class="noinvite-group-box-pending">
                        <h4>No pending invites...</h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="pending-invites">
        <div class="pending-invites-box">
            <h3>Pending invite requests</h3>
            <hr>
            {% if invite_requests %}
                {% for invite in invite_requests %}
                    <div class="pending-invites-single-box">
                        <div class="message-avatar fleft">
                            {% if invite.sender.profile.image %}
                                <img src="{{ invite.sender.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                            {% else %}
                                <img src="{% static "images/img_avatar.png" %}" width="128" alt="Avatar" class="post-profile_avatar">
                            {% endif %}
                            <div class="post-user-information">
                                <div class="post-name"><p>{{  invite.sender.first_name }} {{  invite.sender.last_name }}</p></div>
                                {% if invite.created %}
                                    <div class="post-date"><p>Received {{ invite.created }}</p></div>
                                {% endif %}
                            </div>
                            <div class="post-body">
                                {{ invite.text }}
                                <div class="invite-group-box"><a href="{{ invite.group.get_absolute_url }}" class="title">
                                    <div class="invite-group-img">
                                        {% if invite.group.image %}
                                            <div class="group-r-avatar"><img src="{{ invite.group.image.url }}" width="512" alt="Avatar" class="profile_avatar"></div>
                                        {% else %}
                                            <div class="group-r-avatar"><img src="{% static "images/img_avatar.png" %}" alt="Avatar" class="profile_avatar"></div>
                                        {% endif %}
                                    </div>

                                    <div class="invite-group-name">
                                        <p><b>{{ invite.group.name }}</b></p>
                                        <p>{{ invite.group.description|safe }}</p>
                                    </div>
                                    <div style="clear:both;"></div>
                                </a></div>
                            </div>
                        </div>
                        <div class="acceptdecline-buttons">
                            <button class="pending-invites-button"><a href="{% url 'accept_invite_request' group_pk=invite.group.pk invite_pk=invite.pk %}" class="pending-invites-button-text"><i class="fas fa-check"></i> Accept request</a></button>
                            <button class="pending-invites-button"><a href="{% url 'decline_invite_request' group_pk=invite.group.pk invite_pk=invite.pk %}" class="pending-invites-button-text"><i class="fas fa-ban"></i> Decline request</a></button>
                        </div>

                        <div style="clear:both;"></div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="pending-invites-single-box">
                    <div class="noinvite-group-box-pending">
                        <h4>No pending invite requests...</h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="pending-invites">
        <div class="pending-invites-box">
            <h3>Private messages</h3>
            <hr>
            {% if messages %}
                {% for message in messages %}
                    <div class="pending-invites-single-box">
                        <div class="message-avatar fleft">
                            {% if message.sender.profile.image %}
                                <img src="{{ message.sender.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                            {% else %}
                                <img src="{% static "images/img_avatar.png" %}" width="128" alt="Avatar" class="post-profile_avatar">
                            {% endif %}
                            <div class="post-user-information">
                                <div class="post-name"><p>{{  message.sender.first_name }} {{  message.sender.last_name }}</p></div>
                                {% if message.created %}
                                    <div class="post-date"><p>Received {{ message.created }}</p></div>
                                {% endif %}
                            </div>
                            <div class="post-body">
                                {{ message.text }}
                                {% if message.image %}
                                    <img src="{{ message.image.url }}" width="100%">
                                {% endif %}
                            </div>
                        </div>
                        <div style="clear:both;"></div>

                    </div>
                {% endfor %}
            {% else %}
                <div class="pending-invites-single-box">
                    <div class="no-pending">
                        <h4>No pending messages...</h4>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>



{% endblock %}