{% extends "header.html" %}

{% block content %}
    <div class="pending-invites">
        <div class="pending-invites-box">
            {% if invites %}
                <h3>Pending invites</h3>
                <hr>
                {% for invite in invites %}
                    <div class="pending-invites-single-box">
                        <div class="message-avatar fleft">
                            {% if invite.sender.profile.image %}
                                <img src="{{ invite.sender.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                            {% else %}
                                <img src="/static/images/img_avatar.png" width="128" alt="Avatar" class="post-profile_avatar">
                            {% endif %}
                            <div class="post-user-information">
                                <div class="post-name"><p>{{  invite.sender.first_name }} {{  invite.sender.last_name }}</p></div>
                                {% if invite.created %}
                                    <div class="post-date"><p>Received {{ invite.created }}</p></div>
                                {% endif %}
                            </div>
                            <div class="post-body">
                                {{ invite.text }}
                                {{ invite.group.name }}
                                {% if invite.group.image %}
                                    <img src="{{ invite.group.image.url }}" width="256">
                                {% endif %}
                            </div>
                        </div>
                        <div class="acceptdecline-buttons">
                            <button class="pending-invites-button"><a href="{% url 'accept_invite' group_pk=invite.group.pk invite_pk=invite.pk %}" class="pending-invites-button-text"><i class="fas fa-check"></i> Accept</a></button>
                            <button class="pending-invites-button"><a href="{% url 'decline_invite' group_pk=invite.group.pk invite_pk=invite.pk %}" class="pending-invites-button-text"><i class="fas fa-ban"></i> Decline</a></button>
                        </div>

                        <div style="clear:both;">

                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="pending-invites-single-box">
                    <div class="no-pending">
                        <h1>No pending invites...</h1>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>

    <h3>Private messages</h3>
    {% for message in messages %}
        <div class="posts-page">
            <div class="post-box">
                <div class="current-avatar fleft">
                    {% if message.sender.profile.image %}
                        <img src="{{ message.sender.profile.image.url }}" width="128" alt="Avatar" class="post-profile_avatar">
                    {% else %}
                        <img src="/static/images/img_avatar.png" width="128" alt="Avatar" class="post-profile_avatar">
                    {% endif %}
                    <div class="post-user-information">
                        <div class="post-name"><p>{{  message.sender.first_name }} {{  message.sender.last_name }}</p></div>
                        {% if message.created %}
                            <div class="post-date"><p>Received {{ message.created }}</p></div>
                        {% endif %}
                    </div>
                </div>
            <div style="clear:both;">
                <div class="post-body">
                    {{ message.text }}
                    {% if message.image %}
                        <img src="{{ message.image.url }}" width="100%">
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}