{% extends "header.html" %}

{% block content %}
  <form method="post">
  {% csrf_token %}
      <div class="profile_edit_container">
          {% for field in form %}
              <label class="mylabel"><b>{{ field.label }}</b></label>
              {{ field }}
          {% endfor %}
          <hr style="margin-top: 10px; margin-bottom: 10px;">
          <button class="profile_modal_btn btnMargin" type="submit" value="submit_jobs" name="submit_jobs">Confirm</button>
      </div>
  </form>
{% endblock %}