{% extends "header.html" %}

{% block content %}
<div class="profile_edit_container">
    <form method="post", enctype="multipart/form-data">
    {% csrf_token %}
        {% for field in form %}
            <label class="mylabel"><b>{{ field.label }}</b></label>
            {% if field.errors %}
                <span class="error">{{ field.errors.as_text }}</span>
            {% endif %}
            {{ field }}
        {% endfor %}

        {% for field in form2 %}
            <label class="mylabel"><b>{{ field.label }}</b></label>
            {% if field.errors %}
                <span class="error">{{ field.errors.as_text }}</span>
            {% endif %}
            {{ field }}
        {% endfor %}
        <button class="profile_modal_btn btnMargin" type="submit" value="submit_profile" name="submit_profile">Confirm</button>
    </form>
</div>

{% endblock %}